@charset "utf-8";

// header
// ----------------------------------------------------------
.l-header {
    background-color: #fff;
    display: flex;
    justify-content: center;
    height: $headerH;
    .is-nav-active & {
        z-index: 9;
    }

    @include media(sm) {
        height: $spHeaderH;
        width: 100%;
    }

    &__inner {
        align-items: center;
        display: flex;
        justify-content: space-between;
        height: 100%;
        width: $mainW;

        @include media(sm) {
            padding: 0 $spSpace;
            width: 100%;
        }
    }
}


// logo
.l-logo {

}


// nav
.l-nav {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    &__list {
        align-items: center;
        display: flex;
        justify-content: center;
    }
    &__item {
        height: 100%;
        width: 100px;
    }
    &__link {
        align-items: center;
        display: inline-flex;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    @include media(sm) {
        background-color: #f7f8f9;
        left: 0;
        opacity: 0;
        padding: 0 $spSpace;
        position: fixed;
        top: $spHeaderH;
        visibility: hidden;
        height: auto;
        width: 100%;
        z-index: 99;
        .is-nav-active & {
            opacity: 1;
            visibility: visible;
        }
        &__list {
            flex-direction: column;
            width: 100%;
        }
        &__item {
            width: 100%;
            @include notfirst {
                border-top: 1px solid #eee;
            }
        }
        &__link {
            padding: 10px;
        }
    }
}


// ハンバーガー
.l-hmb {
    align-items: center;
    background-color: #999;
    display: flex;
    justify-content: center;
    padding: 18px;
    position: absolute;
    right: 0;
    top: 0;
    height: $spHeaderH;
    width: $spHeaderH;
    z-index: 999;
    @include media(lg) {
        display: none;
    }

    span {
        $color  : #000;
        $between: 8px;
        $height : 1px;

        align-items: center;
        background-color: $color;
        display: flex;
        justify-content: center;
        position: relative;
        height: #{$height};
        width: 100%;
        &:before,
        &:after {
            @include icon-ini;
            background-color: $color;
            left: 0;
            position: absolute;
            transition: all $comMS $comES;
            will-change: transform;
            height: #{$height};
            width: 100%;
        }
        &:before {
            top: -#{$between};
        }
        &:after {
            bottom: -#{$between};
        }
        .is-nav-active & {
            background-color: #999;
            &:before,
            &:after {
                top: 50%;
                transform-origin: center;
            }
            &:before {
                transform: rotate(-135deg);
            }
            &:after {
                transform: rotate(135deg);
            }
        }
    }
}


// 暗い背景のやつ
.l-bg {
    background-color: rgba(#000, .8);
    left: 0;
    opacity: 0;
    position: fixed;
    top: $spHeaderH;
    transition: all $comMS $comES;
    visibility: hidden;
    height: calc(100vh - #{$spHeaderH});
    width: 100vw;
    z-index: 9;
    .is-nav-active & {
        opacity: 1;
        visibility: visible;
    }
}
