@charset "utf-8";

// stickyfill.js
// ----------------------------------------------------------
.sticky:before,
.sticky:after {
    content: '';
    display: table;
}

// swiper.js
// ----------------------------------------------------------
.swiper-container {
    height: 100%;
    width: 100%;

    img {
        height: 100%;
        width: 100%;

        @include object-fit(cover);
    }

    @include media(sm) {
        width: 100%;
    }
}
